__pycache__/
output/
wandb/
.specstory/
/test.txt
# Ignore venv
venv/
*.pyc
.DS_Store
*.pt
dist-venv/
output_pics/
/Output Pics.xlsx
/figures/
/src/trainer_dist_manual.py
/Pics/
/~$Output Pics.xlsx
/test_mlp_fix.py
/test_mlp_fix_clean.py
/test_shape_fix.py
/src/ge_core.py
/src/param_gen_q2_persis_vs_freq.py
/src/ge_param_gen_q1.py
/src/ge_param_gen.py
/src/ge_sanity_check.py
/src/params_gen_det_persis_vs_inten.py
/src/runs_profiles.csv
/src/parse_zips_for_ques.py
/aggregated_metrics_high_freq_low_pers.csv
/aggregated_metrics_high_pers_low_freq.csv
/aggregated_metrics_high_inten_low_pers.csv
/aggregated_metrics_high_pers_low_inten.csv
/aggregated_metrics_high_freq_low_inten.csv
/aggregated_metrics_high_inten_low_freq.csv
/runs_profiles_q2_manual.csv
/runs_profiles_q3_manual.csv
/runs_profiles_q3_manual_hi.csv
runs_profiles_1.csv
/src/param_gen_q3_freq_vs_inten.py
/runs_freq_vs_intensity.csv
/runs_profiles_q2_manual.csv
/runs_profiles_q3_manual.csv
/runs_profiles_q3_manual_hi.csv
/runs_profiles_sep.csv
/1_node_grad_cmp_0_loss_BS_8.csv
/1_node_grad_cmp_0_loss_BS_32.csv
/4_nodes_grad_cmp_0_loss_BS_8.csv
/4_nodes_grad_cmp_0_loss_BS_32.csv
/4_nodes_grad_cmp_0.2_det_loss_BS_8.csv
/4_nodes_grad_cmp_0.2_det_loss_BS_32.csv
/4_nodes_grad_cmp_0.5_det_loss_BS_8.csv
/4_nodes_grad_cmp_0.5_det_loss_BS_32.csv
/4_nodes_grad_cmp_1%_det_loss_BS_8.csv
/4_nodes_grad_cmp_1%_det_loss_BS_32.csv
/src/grad_cmp_exp_cnn_run_script.py
/src/grad_cmp_exp_cnn.py
/data/
/4_nodes_grad_cmp_0_loss_BS_16.csv
/4_nodes_grad_cmp_0_loss_BS_24.csv
/4_nodes_grad_cmp_0.2_det_loss_BS_16.csv
/4_nodes_grad_cmp_0.2_det_loss_BS_24.csv
/4_nodes_grad_cmp_0.5_det_loss_BS_16.csv
/4_nodes_grad_cmp_0.5_det_loss_BS_24.csv
/4_nodes_grad_cmp_1%_det_loss_BS_16.csv
/4_nodes_grad_cmp_1%_det_loss_BS_24.csv
/optimizer_audit_logs/aggregated_timelines
/optimizer_audit_logs/plots