__pycache__/
output/
wandb/
.specstory/
/test.txt
# Ignore venv
venv/
*.pyc
.DS_Store
*.pt
dist-venv/
output_pics/
/Output Pics.xlsx
/figures/
/src/trainer_dist_manual.py
/Pics/
/~$Output Pics.xlsx
/test_mlp_fix.py
/test_mlp_fix_clean.py
/test_shape_fix.py