__pycache__/
output/
wandb/
.specstory/
/test.txt
# Ignore venv
venv/
*.pyc
.DS_Store
*.pt
dist-venv/
output_pics/
/output_pics.py
/Output Pics.xlsx
/figures/
/~$Output Pics.xlsx
/run_experiments_tp_og.sh